@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Run Tracker</h1>
    <p class="lead">Keep track of all your workouts and races. Track the mileage of your shoes so that you can start to plan ahead for when you need to replace them. Start to notice which shoes get a lot of mileage and which ones need to be replaced earlier.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>



<div class="row">

    <div class="col-md-4">
        <div class="sectionDescription">
            <h2>Workouts</h2>
            <p>Log your workouts here. Fill out the date, completion time and which shoe you ran in along with any comments on how you felt, the weather etc.</p>
        </div>
        <p class="homeButtons">
        @Html.ActionLink("My Workouts", "Index", "Workout", null, new { @class = "btn btn-primary btn-large" })
        </p>
    </div>
    <div class="col-md-4">
        <div class="sectionDescription">
            <h2>Shoes</h2>
            <p>Add your shoes here. Each time you log a workout or race you've run, the mileage will be tracked on the shoe. View the total miles for each shoe here.</p>
        </div>
        <p class="homeButtons">
        @Html.ActionLink("My Shoes", "Index", "Shoe", null, new { @class = "btn btn-primary btn-large" })
        </p>
    </div>
    <div class="col-md-4">
        <div class="sectionDescription">
            <h2>Races</h2>
            <p>Add a race that you're training for or just considering. Once you've run it, add a completion time and the shoe you wore.</p>
        </div>
        <p class="homeButtons">
            @Html.ActionLink("Races I'm Interested In", "IndexInterested", "Race", null, new { @class = "btn btn-primary btn-large" })
        @Html.ActionLink("Races I've Run", "IndexRan", "Race", null, new { @class = "btn btn-primary btn-large" })
    </p>
</div>
</div>