body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Comic Sans MS";
}

.backgroundImage {
    z-index: -20;
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: auto;
    filter: blur(3.0px);
    /*-webkit-filter: grayscale(100%); // makes the pic black and white
    filter: grayscale(100%);*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    text-align: center;
    opacity: 0.85;
    background: #E9BB6B;
}

.sectionDescription {
    background: #E9BB6B;
    text-align: center;
    padding: .25px 2px 2px 2px;
    margin-bottom: 15px;
    opacity: 0.85;
}

footer {
    color: white;
}

tr:nth-child(even){
    background:#ffffff;
    opacity: 0.85;
}

tr:nth-child(odd) {
    background: #E9BB6B;
    opacity: 0.85;
}

.homeButtons{
    text-align:center;
}

.form-horizontal, .dl-horizontal, .manageView {
    background: #E9BB6B;
    opacity: 0.85;
}

table, th, td{
    border: 2px solid black;
}

.PageHeading {
    background: #B3AFAF;
    margin: 1em 1em;
    padding: .5em;
    opacity: 0.85;
    text-align: center;
}


/*#B3AFAF -- original color or home backgrounds and <tr>s*/
/* #D6992E -- original color of main sections on home page*/