body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background: url(/assets/runningshoes.jpg) center fixed no-repeat;*/
}

.backgroundImage {
    z-index: -20;
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: auto;
    filter: blur(3.0px);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    text-align: center;
    opacity: 0.85;
    background: #D6992E;
}

.sectionDescription {
    background: #D6992E;
    text-align: center;
    padding: .25px 2px 2px 2px;
    margin-bottom: 15px;
    opacity: 0.85;
}

footer {
    color: white;
}

tr:nth-child(even){
    background:#ffffff;
    opacity: 0.85;
}

tr:nth-child(odd) {
    background: #D6992E;
    opacity: 0.85;
}

.manageView {
    background: #D6992E;
    opacity: 0.85;
}

.homeButtons{
    text-align:center;
}

/*#B3AFAF -- original color or home backgrounds and <tr>s*/